{% extends model('component') %}

{% define config = {
    name: 'mini-cart-detail',
    tag: 'mini-cart-detail',
} %}

{% define data = {
    cart: required,
    total: data.cart.totals.grandTotal | default(0),
    isExpanded: data.cart.isDefault | default(false),
} %}

{% block body %}
    {% set cart = data.cart %}
    {% set itemCount = cart.items | length %}
    {% set isExpanded = data.isExpanded %}

    <div class="{{ config.name }}__wrapper">
        <a href="{{ url('cart') }}" class="{{ config.name }}__link link--no-decoration {{ isExpanded ? config.name ~ '__link--expanded' : '' }} {{ config.jsName }}__link">
            <div class="{{ config.name }}__info">
                <div class="{{ config.name }}__name-line">
                    <span class="{{ config.name }}__name">{{ cart.name }}</span>
                    {% if cart.isDefault %}
                        <span class="{{ config.name }}__badge">{{ 'multi_cart_widget.cart.default' | trans }}</span>
                    {% endif %}
                </div>

            <div class="{{ config.name }}__meta {{ config.jsName }}__meta">
                {% widget 'ProductBundleItemCounterWidget' args [cart] only %}
                    {% block body %}
                        <span>{{ parent() }}</span>
                    {% endblock %}
                {% nowidget %}
                    <span>{{ itemCount }} {{ (itemCount == 1 ? 'multi_cart_widget.cart.item' : 'multi_cart_widget.cart.items') | trans }}</span>
                {% endwidget %}

                        {% if cart.idQuote %}
                            <span class="{{ config.name }}__meta-dot">&middot;</span>
                            {% widget 'SharedCartPermissionGroupWidget' args [cart] only %}{% endwidget %}
                        {% endif %}

                        {% if cart.priceMode is not empty %}
                            <span class="{{ config.name }}__meta-dot">&middot;</span>
                            {% include molecule('price-mode') with {
                                data: {
                                    priceMode: cart.priceMode,
                                    showIcon: false,
                                },
                            } only %}
                        {% endif %}
                    </span>
                </div>
            </div>

            <div class="{{ config.name }}__price-wrapper">
                {% if cart.totals is not null and cart.currency is not null %}
                    <span class="{{ config.name }}__price">{{ data.total | money(true, cart.currency.code) }}</span>
                {% endif %}

                <button type="button" class="{{ config.name }}__expand-btn {{ config.jsName }}__expand-btn" aria-label="{{ 'mini_cart_detail.toggle' | trans }}" onclick="event.preventDefault();">
                    <span class="{{ config.name }}__expand-icon {{ config.name }}__expand-icon--less">
                        {% include atom('font-icon') with {
                            data: { name: 'expand_less' },
                        } only %}
                    </span>
                    <span class="{{ config.name }}__expand-icon {{ config.name }}__expand-icon--more">
                        {% include atom('font-icon') with {
                            data: { name: 'expand_more' },
                        } only %}
                    </span>
                </button>
            </div>
        </a>
    </div>
{% endblock %}
