{% extends template('page-layout-auth') %}

{% block content %}
    {% embed molecule('auth-layout', 'CustomerPage') with {
        data: {
            heading: 'customer.password.restore' | trans,
            subtitle: 'customer.password.restore.subtitle' | trans,
        },
    } only %}
        {% block card %}
            {{ form_start(_view.form, {
                attr: {
                    class: config.name ~ '__form',
                    novalidate: 'novalidate',
                },
            }) }}
                {{ form_errors(_view.form) }}
                {{ form_widget(_view.form.restore_password_key) }}

                <div class="{{ config.name }}__fields">
                    <div class="{{ config.name }}__field">
                        <label for="{{ _view.form.password.pass.vars.id }}" class="{{ config.name }}__label">
                            {{- 'forms.password' | trans -}}
                        </label>
                        {{ form_widget(_view.form.password.pass) }}
                        {{ form_errors(_view.form.password.pass) }}
                    </div>

                    <div class="{{ config.name }}__field">
                        <label for="{{ _view.form.password.confirm.vars.id }}" class="{{ config.name }}__label">
                            {{- 'forms.confirm-password' | trans -}}
                        </label>
                        {{ form_widget(_view.form.password.confirm) }}
                        {{ form_errors(_view.form.password.confirm) }}
                    </div>
                </div>

                <button
                    type="submit"
                    class="button {{ config.name }}__submit"
                    data-init-single-click
                    {{ qa('submit-button') }}
                >
                    {{- 'customer.password.restore.submit' | trans -}}
                </button>

                <a href="{{ url('login') }}" class="{{ config.name }}__back">
                    {{- 'customer.forgotten-password.back_to_login' | trans -}}
                </a>

                {{ form_end(_view.form) }}
        {% endblock %}
    {% endembed %}
{% endblock %}
