{% extends model('component') %}

{% define config = {
    name: 'switch',
    tag: 'label'
} %}

{% define data = {
    id: null,
    name: null,
    label: null,
} %}

{% block body %}
    <span class="{{ config.name }}__track">
        <input
            type="checkbox"
            class="{{ config.name }}__input"
            {{ data.id ? 'id=' ~ data.id }}
            {{ data.name ? 'name=' ~ data.name }}
            {{ modifiers is defined and 'active' in modifiers ? 'checked' }}
            {{ modifiers is defined and 'disabled' in modifiers ? 'disabled' }}
        >
    </span>

    {% if data.label is defined %}
        <span class="{{ config.name }}__label">{{ data.label }}</span>
    {% endif %}
{% endblock %}
