{% extends model('component') %}

{% define config = {
    name: 'subscription-info'
} %}

{% define data = {
    title: required,
    text: required,
} %}

{% block body %}
    <strong class="{{ config.name }}__section">{{ 'customer.account.newsletter' | trans }}</strong>
    <strong class="title title--subscription">{{ data.title }}</strong>
    <p class="{{ config.name }}__text">{{ data.text | raw }}</p>
{% endblock %}
