{% extends model('component') %}

{% define config = {
    name: 'product-detail',
    tag: 'section'
} %}

{% define data = {
    description: '',
    attributes: [],
    attachments: [],
    product: {},
} %}

{% block body %}
    {% set descriptionContent %}
        {% if data.description %}
            <div itemprop="description" class="{{ config.name }}__description">
                {{ data.description | raw }}
            </div>
        {% endif %}

        {% if data.attributes | length %}
            {% widget 'ProductAttributeVisibilityPdpWidget' args [data.product.idProductAbstract, data.product.idProductConcrete | default(null)] only %}
                {% block body %}
                    <div class="product-detail__details">
                        <h2 class="product-detail__details-title">{{ 'page.product.details' | trans }}</h2>
                        <div class="product-detail__detail-list">
                            {% for name, value in data.attributes %}
                                {% if name %}
                                    <p class="product-detail__detail-list-item" itemprop="additionalProperty" itemscope itemtype="https://schema.org/PropertyValue">
                                        <span class="product-detail__detail-list-key" itemprop="name">{{ ('product.attribute.' ~ name) | trans }}:</span>
                                        <span class="product-detail__detail-list-value" itemprop="value">{{ value is iterable ? value | join(', ') : value }}</span>
                                    </p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endblock %}
            {% endwidget %}
        {% endif %}
    {% endset %}

    {% set downloadsContent %}
        <ul class="{{ config.name }}__downloads" {{ qa('attachments-list') }}>
            {% for attachment in data.attachments %}
                <li class="{{ config.name }}__downloads-item">
                    <a href="{{ attachment.url }}" target="_blank" rel="noopener noreferrer" class="{{ config.name }}__downloads-link link--font-inherit" {{ qa('attachment-item') }}>
                        <span class="{{ config.name }}__downloads-name">{{ attachment.label }}</span>

                        <span class="{{ config.name }}__downloads-aux">
                            {{ 'product.attachments.download.col' | trans }}
                            {% include atom('icon') with {
                                modifiers: ['download'],
                                data: {
                                    name: 'download',
                                },
                            } only %}
                        </span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endset %}

    {% set reviewsContent %}
        {% widget 'ProductDetailPageReviewWidget' args [data.product.idProductAbstract] only %}{% endwidget %}
    {% endset %}

    {% set tabItems = [{
        id: 'description',
        label: { text: 'product.attribute.long_description' },
        content: descriptionContent,
    }] %}

    {% if data.attachments is not empty %}
        {% set tabItems = tabItems | merge([{
            id: 'downloads',
            label: { text: 'product.attachments.downloads' },
            content: downloadsContent,
        }]) %}
    {% endif %}

    {% set tabItems = tabItems | merge([{
        id: 'reviews',
        label: { text: 'product_review.reviews' },
        content: reviewsContent,
    }]) %}

    {% include molecule('spr-tabs') with {
        class: config.name ~ '__tabs',
        modifiers: ['with-bar'],
        data: {
            items: tabItems,
        },
    } only %}
{% endblock %}
