{% extends model('component') %}

{% define config = {
    name: 'view-mode-switch',
    tag: 'div'
} %}

{% define data = {
    viewMode: null
} %}

{% set gridHref = path('change-view-mode', { mode: 'grid', 'referer-url': app.request.requestUri }) %}
{% set listHref = path('change-view-mode', { mode: 'list', 'referer-url': app.request.requestUri }) %}

{% block body %}
    <a class="{{ config.name }}__link {% if data.viewMode == 'grid' %} {{ config.name }}__link--active {% endif %}"
        href="{{ gridHref }}"
        aria-label="{{ 'catalog.view.mode.grid' | trans }}"
        {% if data.viewMode == 'grid' %}aria-current="true"{% endif %}>
        {% include atom('font-icon') with {
            data: {
                name: 'grid_view'
            }
        } only %}
    </a>
    <a class="{{ config.name }}__link {% if data.viewMode != 'grid' %} {{ config.name }}__link--active {% endif %}"
        href="{{ listHref }}"
        aria-label="{{ 'catalog.view.mode.list' | trans }}"
        {% if data.viewMode != 'grid' %}aria-current="true"{% endif %}>
        {% include atom('font-icon') with {
            data: {
                name: 'menu'
            }
        } only %}
    </a>
{% endblock %}
