{% extends molecule('ordered-configured-bundle-product', '@SprykerShop:SalesConfigurableBundleWidget') %}

{% block body %}
    <div class="{{ config.name }}__checkbox">
        {% widget 'CartReorderItemCheckboxWidget' args [data.product] with {
            data: {
                checkboxClasses: 'js-customer-reorder-form__selection',
            },
        } only %}{% endwidget %}
    </div>

    <div class="{{ _self.renderClass(config.name ~ '__col', ['image']) }}">
        {% block image %}
            {% set thumbnailModifiers =  ['bundle-cart-item'] %}

            {{ parent() }}
        {% endblock %}
    </div>
    <div class="{{ _self.renderClass(config.name ~ '__col', ['description']) }}">
        <div class="{{ _self.renderClass(config.name ~ '__col', ['content']) }}">
            {% block name -%}
                <h6 class="{{ config.name }}__title">{{ data.name }}</h6>
            {%- endblock %}

            <div class="{{ config.name }}__meta">
                {% block sku -%}
                    <span class="{{ config.name }}__meta-item" {{ qa(config.name ~ '-sku') }}>
                        {{- 'configured_bundle.item_sku' | trans }} {{ data.sku -}}
                    </span>
                {%- endblock %}
            </div>
        </div>
        <div class="{{ _self.renderClass(config.name ~ '__col', ['rail']) }}">
            {% block priceInformationInner %}
                <div>
                    {% block priceCol %}
                        {%- block priceValue -%}
                            {{ parent() }}
                        {% endblock %}
                        
                        {{ 'configured_bundle.multiplier' | trans }} {{ data.quantity | executeFilterIfExists('formatInt', app.locale) }}                    
                    {% endblock %}

                    {% block totalCol %}
                        {% block total %}
                            {{ parent() }}
                        {% endblock %}
                    {% endblock %}
                </div>
            {% endblock %}

            <div>
                {% block stateWrapper %}
                    {{ parent() }}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{%- block oldPriceValue -%}
    <del class="spacing-right text-secondary">{{ originUnitPrice | money(true, data.currencyIsoCode) }}</del>
{% endblock %}

{%- block totalTitle -%}{% endblock %}

{% block totalInner %}
    {%- block totalValue -%}
        {{ parent() }}
    {% endblock %}
{% endblock %}
