{% extends molecule('product-item', '@SprykerShop:ShopUi') %}
{% import _self as component %}

{% define data = {
    category: '',
} %}

{% define attributes = {
    itemscope: '',
    itemtype: 'https://schema.org/Product',
    'default-price-color-class-name': 'text-alt',
} %}

{% block extraClass %}
    {{ config.jsName }}
{% endblock %}

{% block body %}
    <div class="{{ component.renderClass(config.name ~ '__container', modifiers) }}">
        {% block imageContainer %}
            {% set extraClass = '' %}
            {% set modifiers = ['catalog'] | merge(modifiers) %}

            {{ parent() }}
        {% endblock %}

        <div class="{{ component.renderClass(config.name ~ '__content', modifiers) }}">
            {% block content %}
                {{ block('labels') }}

                <div class="{{ config.name }}__top">
                    {% block name %}
                        <a itemprop="name" class="{{ config.name }}__name {{ config.jsName }}__name {{ config.jsName }}__link-detail-page" href="{{ functionExists('generatePath') ? generatePath(data.url) : data.url }}">
                            {{ data.name }}
                        </a>
                    {% endblock %}

                    {% block sku %}
                        <meta class="{{ config.jsName }}__abstract-sku" itemprop="abstractSku" content="{{ data.abstractSku }}">
                        <meta class="{{ config.jsName }}__sku" itemprop="sku" content="{{ data.metaSku }}">
                    {% endblock %}

                    {% block category %}
                        {% if data.category is not empty %}
                            <span class="{{ component.renderClass(config.name ~ '__category', modifiers) }}">{{ data.category }}</span>
                        {% endif %}
                    {% endblock %}

                    {{ block('rating') }}
                </div>

                <div class="{{ config.name }}__bottom">
                    {% block priceContainer %}
                        {% block price %}
                            {% if can('SeePricePermissionPlugin') %}
                                <div class="{{ component.renderClass(config.name ~ '__price', modifiers) }}">
                                    {% include molecule('money-price') with {
                                        modifiers: ['row'],
                                        data: {
                                            amount: data.product.prices.DEFAULT | default(null),
                                            originalAmount: data.product.prices.ORIGINAL | default(null),
                                            currencyIsoCode: data.currencyIsoCode,
                                            parentJsName: config.jsName,
                                        },
                                    } only %}
                                </div>
                            {% endif %}
                        {% endblock %}
                        {% widget 'ProductGrossMarginWidget' args [data.product.grossMargin ?? 0, config.name] %}{% endwidget %}
                    {% endblock %}
                </div>
            {% endblock %}
        </div>

        {% block productAttributeVisibility %}{% endblock %}

        {% block actionsContainer %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}

{% block image %}
    <div class="{{ component.renderClass(config.name ~ '__image-wrap', modifiers) }}">
        {{ block('productThumbnail') }}

        <div class="{{ component.renderClass(config.name ~ '__colors', modifiers) }}">
            {{ block('colors') }}
        </div>
    </div>
{% endblock %}

{% block action %}
    <a itemprop="url" class="button button--expand {{ config.jsName }}__link-detail-page" href="{{ functionExists('generatePath') ? generatePath(data.url) : data.url }}">
        {{ 'product.view' | trans }}
    </a>
{% endblock %}

{% block ajaxAddToCart %}
{% endblock %}
