{% extends molecule('product-card-item') %}

{% define config = {
    name: 'product-cart-item',
    tag: 'product-cart-item',
} %}

{% define data = {
    priceModifiers: ['cart', 'block'],
    imageModifiers: ['cart'],
} %}

{% set listItem = data.listItem %}
{% set metaSku = listItem.sku is defined ? listItem.sku : (listItem.abstract_sku is defined ? listItem.abstract_sku : '') %}
{% set price = listItem.unitPrice is defined ? listItem.unitPrice : listItem.price %}

{% define attributes = {
    details: {
        sku: listItem.add_to_cart_sku
            | default((listItem.attributeMap is defined ? listItem.attributeMap.productConcreteIds | keys | first)
            | default(metaSku)),
        price: can('SeePricePermissionPlugin') ? price | default : null,
    } | json_encode,
} %}

{% set hasNote = listItem.cartNote is defined and listItem.cartNote is not empty %}
{% set assignedAsset = listItem.sspAsset is defined ? listItem.sspAsset : null %}

{% block extraClass %}
    {{ config.jsName }}
{% endblock %}

{% block productDescription %}
    <div class="{{ config.name }}__col {{ config.name }}__col--description col">
            <div class="{{ config.name }}__col {{ config.name }}__col--content col col--expand">
                {% block header %}
                    {{ block('title') }}

                    {% block meta %}
                        <div class="{{ config.name }}__meta">
                            <span class="{{ config.name }}__meta-item" data-qa="cart-item-sku">
                                {{ 'cart.item.sku' | trans }}: <span itemprop="sku">{{ listItem.sku }}</span>
                            </span>

                            {% block metaSoldBy %}
                                {% set soldByMerchant = findWidget('SoldByMerchantWidget', [listItem]) %}
                                {% if soldByMerchant and soldByMerchant.merchant %}
                                    <span class="{{ config.name }}__meta-item {{ config.name }}__meta-item--merchant">
                                        {{ block('soldBy') }}
                                    </span>
                                {% endif %}
                            {% endblock %}

                            <span class="{{ config.name }}__stock" data-qa="cart-item-stock">
                                {{ block('availability') }}
                            </span>
                        </div>
                    {% endblock %}

                    {% block productConfiguration %}
                        {% widget 'ProductConfigurationCartItemDisplayWidget' args [listItem] only %}{% endwidget %}

                        {% if data.canEdit %}
                            {% widget 'ProductConfigurationCartPageButtonWidget' args [listItem] only %}{% endwidget %}
                        {% endif %}
                    {% endblock %}

                    {% set maxVisibleVariants = 3 %}
                    {% set hasPackagingRow = (listItem.amountSalesUnit ?? null) is not empty or (listItem.quantitySalesUnit ?? null) is not empty %}
                    {% set variantRowCount = (data.attributes | length) + (hasPackagingRow ? 1 : 0) %}
                    {% set variantsCollapsible = variantRowCount > maxVisibleVariants %}
                    {% set hiddenVariantCount = variantsCollapsible ? variantRowCount - maxVisibleVariants : 0 %}

                    {% if data.attributes is not empty or hasPackagingRow %}
                        <div class="{{ config.name }}__variants{% if variantsCollapsible %} {{ config.name }}__variants--collapsible{% endif %}">
                            {{ block('itemAttributes') }}

                            {% block packagingUnit -%}
                                {% if hasPackagingRow %}
                                    <div class="{{ config.name }}__variant-selector{% if variantsCollapsible and (data.attributes | length) >= maxVisibleVariants %} {{ config.name }}__variant-selector--collapsed{% endif %}">
                                        {% include molecule('packaging-unit-cart', 'ProductPackagingUnitWidget') ignore missing with {
                                            data: {
                                                amount: listItem.amount,
                                                quantity: listItem.quantity,
                                                quantitySalesUnit: listItem.quantitySalesUnit,
                                                quantityConversion: listItem.quantitySalesUnit ? listItem.quantitySalesUnit.conversion : null,
                                                quantityProductMeasurementUnit: listItem.quantitySalesUnit ? listItem.quantitySalesUnit.productMeasurementUnit : null,
                                                amountSalesUnit: listItem.amountSalesUnit,
                                                amountConversion: listItem.amountSalesUnit ? listItem.amountSalesUnit.conversion : null,
                                                amountProductMeasurementUnit: listItem.amountSalesUnit ? listItem.amountSalesUnit.productMeasurementUnit : null,
                                                amountValue: listItem.amountSalesUnit ? listItem.amountSalesUnit.value : null,
                                            },
                                        } only %}
                                    </div>
                                {% endif %}
                            {%- endblock %}

                            {% if variantsCollapsible %}
                                <button type="button" class="{{ config.name }}__variants-more {{ config.jsName }}__variants-more" aria-expanded="false">
                                    <span class="{{ config.name }}__variants-more-label {{ config.name }}__variants-more-label--more">{{ 'cart.item.variants.more' | trans({'%count%': hiddenVariantCount}) }}</span>
                                    <span class="{{ config.name }}__variants-more-label {{ config.name }}__variants-more-label--less">{{ 'cart.item.variants.less' | trans }}</span>
                                </button>
                            {% endif %}
                        </div>
                    {% endif %}

                    {% widget 'ProductAttributeVisibilityCartWidget' args [data.list is iterable ? null : data.list, data.listItem.idProductAbstract, data.listItem.id] only %}
                        {% block body %}
                            {% set attributesBadgeClassName = "badge spacing-right--small spacing-bottom--small" %}
                            {{ parent() }}
                        {% endblock %}
                    {% nowidget %}
                    {% endwidget %}

                    {% block contextStrip %}
                        {% set sspAssetWidget = findWidget('SspCartItemAssetSelectorWidget', [listItem]) %}
                        {% set fullAsset = sspAssetWidget ? sspAssetWidget.asset : null %}
                        {% set assetLabel = (fullAsset.name is defined and fullAsset.name is not empty)
                            ? fullAsset.name
                            : ((assignedAsset.name is defined and assignedAsset.name is not empty)
                                ? assignedAsset.name
                                : '') %}
                        {% set hasAssetLabel = assetLabel is not empty %}

                        <div class="{{ config.name }}__context" data-qa="cart-item-context">
                            <button
                                type="button"
                                class="{{ config.name }}__context-item {{ config.jsName }}__context-item{% if hasAssetLabel %} {{ config.name }}__context-item--filled{% endif %}"
                                data-trigger-target='asset-selector [class*="js-asset-selector__trigger"]'
                            >
                                {% include atom('font-icon') with { class: config.name ~ '__context-glyph', data: { name: 'link' } } only %}
                                <span class="{{ config.name }}__context-text">
                                    {{ hasAssetLabel ? assetLabel : ('Add asset' | trans) }}
                                </span>
                            </button>

                            <button
                                type="button"
                                class="{{ config.name }}__context-item {{ config.jsName }}__context-item{% if hasNote %} {{ config.name }}__context-item--filled{% endif %}"
                                data-trigger-target=".js-cart-item-note__edit, .js-cart-item-note__trigger"
                            >
                                {% include atom('font-icon') with { class: config.name ~ '__context-glyph', data: { name: 'mode_comment' } } only %}
                                <span class="{{ config.name }}__context-text">
                                    {{ hasNote ? ('1 ' ~ ('Comment' | trans)) : ('Add comment' | trans) }}
                                </span>
                            </button>
                        </div>
                    {% endblock %}

                    {% block detailsToggle %}
                        <button
                            type="button"
                            class="{{ config.name }}__toggle {{ config.jsName }}__toggle"
                            aria-expanded="false"
                            data-qa="cart-item-details-toggle"
                        >
                            <span class="{{ config.name }}__toggle-label {{ config.name }}__toggle-label--show">{{ 'Show details' | trans }}</span>
                            <span class="{{ config.name }}__toggle-label {{ config.name }}__toggle-label--hide">{{ 'Hide details' | trans }}</span>
                            {% include atom('icon') with {
                                class: config.name ~ '__toggle-chevron',
                                data: { name: 'caret-down' },
                            } only %}
                        </button>
                    {% endblock %}
                {% endblock %}
            </div>

            <div class="{{ config.name }}__col {{ config.name }}__col--rail col">
                {% block rail %}
                    {% block railQuantity %}
                        {% set hasSalesUnit = (listItem.amountSalesUnit ?? null) is not empty or (listItem.quantitySalesUnit ?? null) is not empty %}

                        <div class="{{ config.name }}__quantity-holder">
                            {% include molecule('product-item-quantity') with {
                                data: {
                                    productItem: listItem,
                                    isDisabled: not data.canEdit or hasSalesUnit,
                                    ajaxTriggerAttribute: data.ajaxTriggerAttribute,
                                },
                            } only %}
                        </div>
                    {% endblock %}

                    {% block priceZone %}
                        {% if can('SeePricePermissionPlugin') %}
                            {% set totalPrice = listItem.unitPrice is defined ? listItem.sumSubtotalAggregation : listItem.price %}
                            <div class="{{ config.name }}__price-zone" data-qa="cart-item-summary">
                                {% include molecule('money-price') with {
                                    modifiers: data.priceModifiers,
                                    data: {
                                        amount: totalPrice,
                                        currencyIsoCode: data.currencyIsoCode,
                                    },
                                } only %}
                            </div>
                        {% endif %}
                    {% endblock %}

                    {% block deleteButton %}
                        {% if data.canRemove %}
                            {% widget 'RemoveFromCartFormWidget' args [listItem] with {
                                data: {
                                    ajaxTriggerAttribute: data.ajaxTriggerAttribute,
                                },
                                embed: {
                                    configName: config.name,
                                },
                            } only %}
                                {% block embeddedData %}
                                    <button
                                        {{ data.ajaxTriggerAttribute }}
                                        type="submit"
                                        class="{{ embed.configName }}__remove"
                                        aria-label="{{ 'Remove item from cart' | trans }}"
                                        data-init-single-click
                                        data-qa="cart-item-remove"
                                    >
                                        {% include atom('font-icon') with {
                                            modifiers: ['size-inherit'],
                                            data: { name: 'delete_outline' },
                                        } only %}
                                        <span class="{{ embed.configName }}__remove-tooltip" role="tooltip" aria-hidden="true">{{ 'Remove item from cart' | trans }}</span>
                                    </button>
                                {% endblock %}
                            {% endwidget %}
                        {% endif %}
                    {% endblock %}
                {% endblock %}
            </div>

            <div class="{{ config.name }}__panel" data-qa="cart-item-panel">
                <div class="{{ config.name }}__panel-inner">
                    {% include molecule('cart-item-details', '@Pyz:CartPage') with {
                        data: {
                            listItem: listItem,
                            list: data.list,
                            canEdit: data.canEdit,
                            ajaxTriggerAttribute: data.ajaxTriggerAttribute,
                            currencyIsoCode: data.currencyIsoCode,
                        },
                    } only %}

                    {% block panelExtras %}
                        {% block productOptions %}
                            {% if listItem.productOptions ?? false %}
                                {% include molecule('product-item-options') with {
                                    modifiers: modifiers,
                                    data: { productItem: listItem },
                                } only %}
                            {% endif %}

                            {% if data.options %}
                                {% include molecule('product-item-options') with {
                                    data: { options: data.options },
                                } only %}
                            {% endif %}
                        {% endblock %}

                        {% block bundle %}
                            {% widget 'ProductBundleCartItemsListWidget' args [listItem, data.list] only %}{% endwidget %}
                        {% endblock %}
                    {% endblock %}

                    {% include molecule('cart-item-details', 'CartPage') with {
                        data: {
                            listItem: listItem,
                            list: data.list,
                            canEdit: data.canEdit,
                            ajaxTriggerAttribute: data.ajaxTriggerAttribute,
                        },
                    } only %}
                </div>
            </div>
    </div>
{% endblock %}

{% block itemAttributes %}
    {% if data.attributes is not empty %}
        {% embed molecule('product-item-variant-selector') with {
            class: config.name ~ '__variant-selector',
            data: {
                productItem: listItem,
                productItemAttributes: data.attributes,
                canEdit: data.canEdit,
                ajaxTriggerAttribute: data.ajaxTriggerAttribute,
            },
        } only %}
            {% block variantSelector %}
                {% include molecule('custom-select') with {
                    modifiers: ['xs', 'mobile-expand', 'mobile-xs'],
                    data: {
                        label: ('product.attribute.' ~ attributeName) | trans,
                        options: options,
                    },
                    attributes: {
                        name: 'preselectedAttributes[' ~ attributeName ~ ']',
                        disabled: not data.canEdit or isProductSalesUnit,
                        (submitterKey): submitterValue,
                        'config-theme': 'xs',
                    },
                } only %}
            {% endblock %}
        {% endembed %}
    {% endif %}
{% endblock %}
