{% extends view('dashboard','@SprykerFeature:SspDashboardManagement') %}

{% block customerContent %}
    {% block userInfo %}
        <div data-qa="welcome-block">
            <div data-qa="user-info">
                <strong class="title--h3">
                    {{ 'ssp_dashboard.general.welcome' | trans({
                        '%name%': data.customer.firstName ~ ' ' ~ data.customer.lastName,
                    }) }}
                </strong>
            </div>
            <span>{{ data.customer.companyUserTransfer.company.name }}</span>
            <br>
            <span>{{ data.customer.companyUserTransfer.companyBusinessUnit.name }}</span>
        </div>
    {% endblock %}

    {% block information %}
        <div class="grid grid--stretch grid--with-gutter spacing-bottom--big">
            {% set colClasses = 'col col--with-gutter col--sm-12 col--md-6' %}

            {% block statsCol %}
                <div class="{{ colClasses }}">
                    {% block stats %}
                        {% set canAccessInquiries = can('ViewBusinessUnitSspInquiryPermissionPlugin') or can('CreateSspInquiryPermissionPlugin') or can('ViewCompanySspInquiryPermissionPlugin') %}
                        {% set canAccessAssets = can('ViewBusinessUnitSspAssetPermissionPlugin') or can('ViewCompanySspAssetPermissionPlugin') %}

                        {% include molecule('stats-overview', 'SspDashboardManagement') with {
                            class: 'box box--stretch box--dark',
                            data: {
                                stats: [
                                    {
                                        title: 'dashboard.general.assets',
                                        value: canAccessAssets and data.dashboard.dashboardComponentAssets is not empty ? data.dashboard.dashboardComponentAssets.sspAssetCollection.pagination.nbResults: 'ssp_dashboard.overview.not_applicable' | trans,
                                    },
                                    {
                                        title: 'ssp_dashboard.general.inquiries',
                                        value: canAccessInquiries and data.dashboard.dashboardComponentInquiry is not empty ? data.dashboard.dashboardComponentInquiry.pendingItems : 'ssp_dashboard.overview.not_applicable' | trans,
                                    },
                                ],
                            },
                        } only %}
                    {% endblock %}
                </div>
            {% endblock %}
            {{ block('representativesCol') }}
        </div>
    {% endblock %}

    {% block assets %}
        {% set canAccessAssets = can('ViewBusinessUnitSspAssetPermissionPlugin') or can('ViewCompanySspAssetPermissionPlugin') %}
        {% set sspAssetCollection = data.dashboard.dashboardComponentAssets ? data.dashboard.dashboardComponentAssets.sspAssetCollection : null %}

        {%  if canAccessAssets %}
            {% widget 'SspAssetListWidget' args [sspAssetCollection] only %}
            {% endwidget %}
        {% endif %}
    {% endblock %}

    {% block news %}
        {% cms_slot 'ssp-news' %}
    {% endblock %}

    {{ block('tables') }}
{% endblock %}
