{% extends molecule('label-group', '@SprykerShop:ProductLabelWidget') %}
{% import _self as component %}

{% block body %}
    {% set labelClass = component.renderClass(config.name ~ '__label-flag', modifiers) %}
    {% set labelTextClass = component.renderClass(config.name ~ '__text', modifiers) %}
    {% set labelCounterClass = component.renderClass(config.name ~ '__counter', modifiers) %}
    {% set allLabelsWrapperClass = component.renderClass(config.name ~ '__all-labels-wrapper', modifiers) %}
    {% set labelsCount = data.labels | length %}

    {% macro label(configName, configJsName, textClass, text='', type='', labelClass='') %}
        {% set labelType = type ? configName ~ '__text--' ~ type %}

        <span class="{{ configJsName }}__label-flag {{ labelClass }}" data-config-name="{{ configName }}__text">
            <span class="{{ textClass }} {{ labelType }} {{ configJsName }}__label-flag-text">
                {{ text }}
            </span>
        </span>
    {% endmacro %}
    
    {% if labelsCount %}
        {{ _self.label(config.name, config.jsName, labelTextClass, data.labels[0].text, data.labels[0].type, labelClass) }}
    
        {% if labelsCount > 1 %}
            <span class="{{ labelCounterClass }}"> + {{ labelsCount - 1 }}</span>

            <div class="{{ allLabelsWrapperClass }}">
                {% for label in data.labels | slice(1) %}
                    {{ _self.label(config.name, config.jsName, labelTextClass, label.text, label.type, labelClass) }}
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
