{% extends model('component') %}

{% define config = {
    name: 'mega-menu',
} %}

{% define data = {
    node: required,
    parentJsName: required,
} %}

{% block class %}
    {{ parent() }} {{ data.parentJsName }}__wrapper menu-wrapper--lvl-1
{% endblock %}

{% block body %}
    <div class="{{ config.name }}__sidebar">
        <p class="{{ config.name }}__sidebar-header">{{ 'navigation.browse_by_category' | trans }}</p>
        <ul class="{{ config.name }}__sidebar-items">
            {% for childNode in data.node.children %}
                <li class="{{ config.name }}__sidebar-item">
                    <a
                        href="{{ functionExists('generatePath') ? generatePath(childNode.url) : childNode.url }}"
                        class="{{ config.name }}__sidebar-link"
                    >
                        <span class="{{ config.name }}__sidebar-label">{{ childNode.title }}</span>
                        {% include atom('font-icon') with {
                            class: config.name ~ '__sidebar-chevron',
                            modifiers: ['size-inherit'],
                            data: { name: 'chevron_right' },
                        } only %}
                    </a>

                    {% if childNode.children | length > 0 %}
                        <div class="{{ config.name }}__panel">
                            <div class="{{ config.name }}__panel-intro">
                                <a
                                    href="{{ functionExists('generatePath') ? generatePath(childNode.url) : childNode.url }}"
                                    class="{{ config.name }}__panel-title"
                                >{{ childNode.title }}</a>
                            </div>
                            <hr class="{{ config.name }}__panel-divider">
                            <ul class="{{ config.name }}__panel-items">
                                {% for grandchild in childNode.children %}
                                    <li class="{{ config.name }}__panel-item">
                                        <a
                                            href="{{ functionExists('generatePath') ? generatePath(grandchild.url) : grandchild.url }}"
                                            class="{{ config.name }}__panel-link"
                                        >{{ grandchild.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <a
                                href="{{ functionExists('generatePath') ? generatePath(childNode.url) : childNode.url }}"
                                class="{{ config.name }}__panel-show-all"
                            >
                                {{ 'navigation.show_all' | trans }}
                                {% include atom('font-icon') with {
                                    class: config.name ~ '__panel-arrow',
                                    modifiers: ['size-inherit'],
                                    data: { name: 'arrow_forward' },
                                } only %}
                            </a>
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% if data.node.url %}
            <div class="{{ config.name }}__footer">
                <a
                    href="{{ functionExists('generatePath') ? generatePath(data.node.url) : data.node.url }}"
                    class="{{ config.name }}__footer-link"
                >
                    {{ 'navigation.all_prefix' | trans }} {{ data.node.title }}
                    {% include atom('font-icon') with {
                        class: config.name ~ '__footer-arrow',
                        modifiers: ['size-inherit'],
                        data: { name: 'arrow_forward' },
                    } only %}
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}
