{% extends molecule('search-form', '@SprykerShop:ShopUi') %}

{% define config = {
    name: 'search-form',
} %}

{% define attributes = {
    'wrapper-class-name': 'js-' ~ config.name,
    'wrapper-toggle-class-name': config.name ~ '--active',
    'open-class-name': '',
    'close-class-name': '',
} %}

{% define data = {
    isDisabled: false,
} %}

{% block extraClass %}
    {{ config.jsName }}
{% endblock %}

{% block body %}
    <form class="{{ config.name }}__form{{ data.isDisabled is defined and data.isDisabled ? ' ' ~ config.name ~ '__form--disabled' : '' }}" action="{{ data.searchUrl }}">
        <input
            class="{{ config.name }}__input {{ config.jsName }}__input--{{ attributes['data-search-id'] }}"
            name="q"
            type="text"
            placeholder="{{ 'search.form.placeholder' | trans }}"
            value="{{ data.searchValue }}"
            autocomplete="off"
            {{ data.isDisabled is defined and data.isDisabled ? 'disabled' : '' }}
        >

        <button
            type="button"
            class="{{ config.name }}__clear {{ config.jsName }}__clear"
            aria-label="{{ 'global.close' | trans }}"
        >
            {% include atom('font-icon') with {
                modifiers: ['size-inherit'],
                data: { name: 'close' },
            } only %}
        </button>

        <button
            type="submit"
            class="{{ config.name }}__submit"
            aria-label="{{ 'global.search' | trans }}"
        >
            {% include atom('font-icon') with {
                modifiers: ['size-inherit'],
                data: { name: 'search' },
            } only %}
        </button>

        <button type="button" class="{{ config.name }}__button-close {% block close %}{% endblock %}" aria-label="{{ 'global.close' | trans }}">
            {% include atom('font-icon') with { data: { name: 'close' }, attributes: { 'aria-hidden': 'true' } } only %}
        </button>

        {% include molecule('suggest-search') with {
            modifiers: modifiers,
            attributes: {
                'parent-class-name': config.name,
                'suggestion-url': path('search/suggestion'),
                'input-class-name': config.jsName ~ '__input--' ~ attributes['data-search-id'],
                'wrapper-class-name': attributes['wrapper-class-name'],
                'wrapper-toggle-class-name': attributes['wrapper-toggle-class-name'],
                'open-class-name': attributes['open-class-name'],
                'close-class-name': attributes['close-class-name'],
            },
        } only %}
    </form>
{% endblock %}
