{% extends model('component') %}

{% define config = {
    name: 'subscription'
} %}

{% define data = {
    form: required,
    events: {
        success: required,
        error: required
    }
} %}

{% block body %}
    <div class="grid grid--middle grid--justify">
        {% include molecule('subscription-info', 'NewsletterWidget') with {
            class: 'col col--sm-12 col--md-5 col--lg-6',
            data: {
                title: 'global.subscribe.title' | trans,
                text: 'newsletter.form.subscribe.text' | trans,
            }
        } only %}

        <div class="col col--sm-12 col--md-6 col--lg-5">
            {% include molecule('form') with {
                modifiers: ['inline', 'subscription'],
                data: {
                    form: data.form,
                    submit: {
                        enable: true,
                        text: '',
                        icon: 'chevron-right',
                        class: 'button'
                    }
                }
            } only %}
            {% if data.events.success is not empty %}
                <p class="{{ config.name }}__message {{ config.name }}__message--success" role="status">{{ data.events.success | trans }}</p>
            {% elseif data.events.error is not empty %}
                <p class="{{ config.name }}__message {{ config.name }}__message--error" role="alert">{{ data.events.error | trans }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
