{% extends view('cart-delete', '@SprykerShop:MultiCartPage') %}

{% define data = {
    backUrl: app.request.headers.get('referer') | default(url('multi-cart')),
} %}

{% block customerContent %}
    {% include molecule('action-bar') with {
        modifiers: ['first', 'middle'],
        data: {
            title: 'multi_cart_page.cart_delete_confirmation.warning' | trans,
        },
    } only %}
    
    <p>{{ "multi_cart_page.cart_delete_confirmation.trying_to_delete" | trans }}: <strong>{{ data.cartName }}</strong></p>

    {% widget 'CartDeleteSharingCompanyUsersListWidget' args [data.cart] only %}{% endwidget %}

    <div class="grid">
        <a href="{{ data.backUrl }}" class="col col--sm-12 col--md-auto button button--hollow spacing-right spacing-right--big spacing-top spacing-top">
            {{ "general.back.button" | trans }}
        </a>
        {{ form_start(data.multiCartDeleteForm, {'attr': {'class': 'col col--sm-12 col--md-auto'}, 'action': url('multi-cart/delete', { 'idQuote' : data.cartIdQuote })}) }}
            <button data-init-single-click class="button button--alert spacing-top spacing-top">{{ 'multi_cart_page.cart_delete_confirmation.delete' | trans }}</button>
        {{ form_end(data.multiCartDeleteForm) }}
    </div>
{% endblock %}
