{% extends model('component') %}
{% import _self as component %}

{% define config = {
    name: 'quantity-counter',
    tag: 'quantity-counter'
} %}

{% define data = {
    isDisabled: false,
    isReadOnly: false,
    autoUpdate: false,
    formattedNumberExtraClasses: '',
    inputExtraClasses: '',
    numberFormatConfig: {},
    ajaxTriggerAttribute: '',
} %}

{% set isEditable = not data.isReadOnly and not data.isDisabled %}

{% define attributes = {
    value: 1,
    type: "number",
    name: "quantity",
    onkeypress: isEditable ? null : "return false;",
    onkeydown: isEditable ? null : "return false;",
    min: 1,
    step: 1,
    disabled: data.isDisabled or data.isReadOnly,
} %}

{% block extraClass %}
    {% if not isEditable %}
        {{ config.name }}--disabled
    {% endif %}    
{% endblock %}

{% block attributes %}
    {% if not isEditable %}aria-disabled="true"{% endif %}
{% endblock %}

{% set inputAttributes = attributes | merge(data.ajaxTriggerAttribute ? { 'data-ajax-mode': data.ajaxTriggerAttribute,  (data.ajaxTriggerAttribute): 'change', } : {}) %}

{% set inputAttributeFilters = {
    type: false,
    value: false,
    name: false,
    class: false,
} %}

{% set filteredInputAttributes = inputAttributes | filter((value, key) => inputAttributeFilters[key] ?? true) %}

{% set filteredInputAttributes = {
    'data-auto-update': data.autoUpdate,
    disabled: data.isDisabled,
    readonly: data.isReadOnly,
} | merge(filteredInputAttributes) %}

{% set numberFormatConfig = {'watch-external-changes': true} | merge(data.numberFormatConfig) %}

{% macro button(configName, buttonType, iconName, isEditable) %}
    <button class="{{ configName }}__button
        {% if not isEditable %}
            {{ configName }}__button--disabled
        {% endif %}
        js-{{ configName }}__button-{{ buttonType }}
        {{ configName }}__button--{{ buttonType }}"
        {{ qa(configName ~ '__button--' ~ buttonType) }}
        >
            {% include atom('icon') with {
                data: {
                    name: iconName,
                },
            }%}
    </button>
{% endmacro %}

{% block body %}
    {{ component.button(config.name, 'decrement', 'minus', isEditable) }}

    {% block quantityField %}
        {% include molecule('formatted-number-input') with {
            class: "#{config.name}__formatted-input #{config.jsName}__formatted-input #{data.formattedNumberExtraClasses}",
            data: {
                inputName: attributes.name,
                inputValue: attributes.value,
                inputAttributes: filteredInputAttributes,
                inputExtraClasses: "#{config.name}__input #{config.jsName}__input #{data.inputExtraClasses}",
                hiddenInputAttributes: {
                    'data-qa': 'quantity-input',
                    disabled: data.isDisabled,
                },
            },
            attributes: numberFormatConfig,
        } only %}
    {% endblock %}

    {{ component.button(config.name, 'increment', 'plus', isEditable) }}
{% endblock %}
