{% extends model('component') %}

{% define config = {
    name: 'review-summary',
    tag: 'section',
} %}

{% define data = {
    reviews: required,
    summary: required,
    ratingMaxValue: required,
    hasCustomer: required,
    idProductAbstract: required,
    reviewForm: required,
    action: required,
    pagination: {
        parameters: required,
        currentPage: required,
        paginationPath: required,
        maxPage: required,
        showAlwaysFirstAndLast: true,
        anchor: 'product-reviews',
    },
} %}

{% block body %}
    <div class="grid grid--justify grid--gap {{ config.name }}__top">
        {% block summaryCol %}
            <div class="col col--sm-12 col--lg-6 {{ config.name }}__summary-col">
                <div class="{{ config.name }}__rating-box">
                    <div class="grid grid--justify">
                        <div class="col col--sm-12 col--md-auto">
                            {% include molecule('review-average-display', 'ProductReviewWidget') with {
                                data: {
                                    summary: data.summary,
                                    ratingMaxValue: data.ratingMaxValue,
                                },
                            } only %}
                        </div>

                        <div class="col col--sm-12 col--md-auto col--expand">
                            {% include molecule('review-distribution-display', 'ProductReviewWidget') with {
                                data: {
                                    summary: data.summary,
                                },
                            } only %}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block formCol %}
            <div class="col col--sm-12 col--lg-6 {{ config.name }}__form-col">
                {% if is_granted('ROLE_USER') %}
                    <a id="review"></a>

                    <div class="{{ config.name }}__new-review-form {{ config.jsName }}__new-review-form">
                        {% include molecule('new-review-form', 'ProductReviewWidget') with {
                            data: {
                                form: data.reviewForm,
                                action: url(data.action, {idProductAbstract: data.idProductAbstract}),
                            },
                        } only %}
                    </div>
                {% else %}
                    <h3 class="{{ config.name }}__sub-title">{{ 'product_review.submit.add_a_review' | trans }}</h3>
                    <a class="button button--secondary button--expand-sm-only" href="{{ path('login') }}">
                        {{ 'product_review.submit.add_a_review' | trans }}
                    </a>
                {% endif %}
            </div>
        {% endblock %}
    </div>

    {% block reviewsList %}
        {% if data.reviews is not empty and data.summary.totalReview > 0 %}
            <div class="{{ config.name }}__list">
                <h3 class="{{ config.name }}__sub-title">{{ 'product_review.product_reviews' | trans }} ({{ data.summary.totalReview | executeFilterIfExists('formatInt', app.locale) }})</h3>

                {% for review in data.reviews %}
                    {% include molecule('review', 'ProductReviewWidget') with {
                        data: {
                            summary: review.summary,
                            ratingValue: review.rating,
                            ratingMaxValue: data.ratingMaxValue,
                            nickname: review.nickname,
                            createdAt: review.createdAt | formatDateTime,
                            description: review.description,
                        },
                    } only %}
                {% endfor %}

                {% include molecule('pagination') with {
                    data: data.pagination,
                } only %}
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}
