{% extends molecule('packaging-unit-cart', '@SprykerShop:ProductPackagingUnitWidget') %}

{% define data = {
    quantitySalesUnit: required,
    amountSalesUnit: required,
    hasSubQuantity: false,
    hasAmountPerQuantity: false,
} %}

{% block body %}
    {% set quantityUnitName = data.quantitySalesUnit ? (data.quantitySalesUnit.productMeasurementUnit.name | default) : '' %}
    {% set amountUnitName = data.amountSalesUnit ? (data.amountSalesUnit.productMeasurementUnit.name | default) : '' %}

    <ul class="{{ config.name }}__list">
        {% if quantityUnitName is not empty %}
            <li class="{{ config.name }}__item">
                <label class="{{ config.name }}__row">
                    <span class="{{ config.name }}__label">{{ 'packaging_units.pdp.sales-units' | trans }}:</span>
                    <span class="{{ config.name }}__select">
                        {% include molecule('custom-select') with {
                            modifiers: ['small', 'mobile-expand', 'mobile-xs'],
                            data: {
                                label: quantityUnitName | trans,
                                options: [{ label: quantityUnitName | trans, value: quantityUnitName, selected: true }],
                            },
                            attributes: {
                                disabled: true,
                                'config-theme': 'small',
                            },
                        } only %}
                    </span>
                </label>
            </li>
        {% endif %}

        {% if data.amount is not empty %}
            {% set amountValue = data.amount.toFloat() | executeFilterIfExists('formatFloat', app.locale) %}
            {% set amountLabel = amountUnitName is not empty ? (amountValue ~ ' ' ~ (amountUnitName | trans)) : amountValue %}
            <li class="{{ config.name }}__item">
                <label class="{{ config.name }}__row">
                    <span class="{{ config.name }}__label">{{ 'packaging_units.cart.amount' | trans }}:</span>
                    <span class="{{ config.name }}__select">
                        {% include molecule('custom-select') with {
                            modifiers: ['small', 'mobile-expand', 'mobile-xs'],
                            data: {
                                label: amountLabel,
                                options: [{ label: amountLabel, value: amountValue, selected: true }],
                            },
                            attributes: {
                                disabled: true,
                                'config-theme': 'small',
                            },
                        } only %}
                    </span>
                </label>
            </li>
        {% endif %}
    </ul>
{% endblock %}
