{% extends molecule('packaging-unit-cart', '@SprykerShop:ProductPackagingUnitWidget') %}

{% define data = {
    quantitySalesUnit: required,
    amountSalesUnit: required,
    hasSubQuantity: false,
    hasAmountPerQuantity: false,
} %}

{% block body %}
    {% set quantityUnitName = data.quantitySalesUnit ? (data.quantitySalesUnit.productMeasurementUnit.name | default) : '' %}
    {% set amountUnitName = data.amountSalesUnit ? (data.amountSalesUnit.productMeasurementUnit.name | default) : '' %}

    <ul class="{{ config.name }}__list">
        {% if data.amount is not empty %}
            {% set amountValue = data.amount.toFloat() | executeFilterIfExists('formatFloat', app.locale) %}
            <li class="{{ config.name }}__item">
                <div class="{{ config.name }}__row">
                    <span class="{{ config.name }}__label">{{ 'packaging_units.cart.amount' | trans }}:</span>
                    <span class="{{ config.name }}__field">
                        <input type="text" class="input {{ config.name }}__amount-input"
                               value="{{ amountValue }}" aria-label="{{ 'packaging_units.cart.amount' | trans }}" disabled>
                    </span>
                    {% if amountUnitName is not empty %}
                        <span class="{{ config.name }}__field">
                            {% include molecule('custom-select') with {
                                modifiers: ['small', 'mobile-expand', 'mobile-xs'],
                                data: {
                                    label: amountUnitName | trans,
                                    options: [{ label: amountUnitName | trans, value: amountUnitName, selected: true }],
                                },
                                attributes: {
                                    disabled: true,
                                    'config-theme': 'small',
                                },
                            } only %}
                        </span>
                    {% endif %}
                </div>
            </li>
        {% elseif quantityUnitName is not empty %}
            <li class="{{ config.name }}__item">
                <div class="{{ config.name }}__row">
                    <span class="{{ config.name }}__label">{{ 'packaging_units.cart.units' | trans }}:</span>
                    <span class="{{ config.name }}__field">
                        {% include molecule('custom-select') with {
                            modifiers: ['small', 'mobile-expand', 'mobile-xs'],
                            data: {
                                label: quantityUnitName | trans,
                                options: [{ label: quantityUnitName | trans, value: quantityUnitName, selected: true }],
                            },
                            attributes: {
                                disabled: true,
                                'config-theme': 'small',
                            },
                        } only %}
                    </span>
                </div>
            </li>
        {% endif %}
    </ul>
{% endblock %}
