{% extends molecule('asset-selector', '@SprykerFeature:SelfServicePortal') %}

{% block separator %}{% endblock %}

{% block trigger %}
    <button type="button" class="link link--no-decoration {{ config.name }}__trigger {{ config.name }}__select-link {{ popupTriggerClass }}" {{ qa('asset-selector-trigger') }}>
        {% include atom('font-icon') with {
            modifiers: ['size-inherit'],
            data: { name: 'link' },
        } only %}
        {{ data.buttonLabel | trans }}
    </button>
{% endblock %}

{% block name %}
    {% set tag = attributes['asset-link-base'] ? 'a' : 'strong' %}
    {% set reference = data.asset is not empty ? data.asset.reference %}

    <{{ tag }}
        {% if attributes['asset-link-base'] %}
            href="{{ "#{attributes['asset-link-base']}#{reference}" }}"
        {% endif %}
        class="{{ config.name }}__subtitle {{ config.name }}__subtitle--name {{ config.jsName }}__asset-name"
        {% if data.asset is not empty %}title="{{ data.asset.name }}"{% endif %}
        {{ qa('asset-selector-name') }}
    >
        {{ data.asset is not empty ? data.asset.name }}
    </{{ tag }}>
{% endblock %}

{% block change %}
    <button
        type="button"
        class="link link--no-decoration {{ config.name }}__action {{ config.name }}__action--change {{ config.name }}__data-link {{ popupTriggerClass }}"
        aria-label="{{ 'self_service_portal.asset.selector.change' | trans }}"
        {{ qa('asset-selector-change') }}
    >
        {% include atom('font-icon') with {
            data: { name: 'edit' },
        } only %}
    </button>
{% endblock %}

{% block clear %}
    <button
        type="button"
        class="link link--no-decoration {{ config.name }}__action {{ config.name }}__action--clear {{ config.name }}__data-link {{ config.jsName }}__clear"
        aria-label="{{ 'self_service_portal.asset_filter.clear' | trans }}"
        {{ qa('asset-selector-clear') }}
    >
        {% include atom('font-icon') with {
            data: { name: 'close' },
        } only %}
    </button>
{% endblock %}
