{% extends molecule('sort', '@SprykerShop:CatalogPage') %}

{% block body %}
    <div class="{{ config.name }}__controls {{ config.jsName }}__filter-grid" data-block-to="js-filter-section__sorting" data-breakpoint="768">
        <div class="{{ config.name }}__field">
            <span class="{{ config.name }}__label is-hidden-lg-xxl">{{ 'catalog.filter.sort' | trans }}</span>

            {% embed molecule('custom-select') with {
                modifiers: ['small', 'light', 'mobile-expand', 'different-mob-caret'],
                attributes: {
                    name: 'sort',
                    'config-theme': 'small',
                },
                embed: {
                    sort: data.sort,
                    parentJsName: data.parentJsName,
                },
            } only %}
                {% block selectClass %}
                    {{ parent() }} {{ embed.parentJsName }}__sort-trigger
                {% endblock %}
                {% block options %}
                    <option value="">{{ 'catalog.sort.relevance' | trans }}</option>
                    {% for sortParamName in embed.sort.sortParamNames | default([]) %}
                        <option value="{{ sortParamName }}" {% if sortParamName == embed.sort.currentSortParam %}selected{% endif %}>{{ ('catalog.sort.' ~ sortParamName) | trans }}</option>
                    {% endfor %}
                {% endblock %}
                {% block caret %}
                    {% include atom('font-icon') with {
                        class: config.name ~ '__caret is-hidden-sm-md',
                        data: {
                            name: 'expand_more',
                        },
                    } only %}

                    {% include atom('font-icon') with {
                        class: config.name ~ '__caret is-hidden-lg-xxl',
                        data: {
                            name: 'unfold_more',
                        },
                    } only %}
                {% endblock %}
            {% endembed %}
        </div>

        <div class="{{ config.name }}__field">
            <span class="{{ config.name }}__label is-hidden-lg-xxl">{{ 'catalog.filter.per' | trans }}</span>

            {% embed molecule('custom-select') with {
                modifiers: ['small', 'light', 'mobile-expand', 'different-mob-caret'],
                attributes: {
                    name: 'ipp',
                    'config-theme': 'small',
                },
                embed: {
                    pagination: data.pagination,
                    parentJsName: data.parentJsName,
                },
            } only %}
                {% block selectClass %}
                    {{ parent() }} {{ embed.parentJsName }}__sort-trigger
                {% endblock %}
                {% block options %}
                    {% for limit in embed.pagination.config.validItemsPerPageOptions | default([]) %}
                        <option value="{{ limit }}" {% if limit == embed.pagination.currentItemsPerPage %}selected{% endif %}>{{ limit | executeFilterIfExists('formatInt', app.locale) }}</option>
                    {% endfor %}
                {% endblock %}
                {% block caret %}
                    {% include atom('font-icon') with {
                        class: config.name ~ '__caret is-hidden-sm-md',
                        data: {
                            name: 'expand_more',
                        },
                    } only %}

                    {% include atom('font-icon') with {
                        class: config.name ~ '__caret is-hidden-lg-xxl',
                        data: {
                            name: 'unfold_more',
                        },
                    } only %}
                {% endblock %}
            {% endembed %}
        </div>
    </div>

    {% include molecule('breakpoint-dependent-block-placer') with {
        attributes: {
            'block-class-name': config.jsName ~ '__filter-grid',
        },
    } only %}
{% endblock %}
