{% extends template('page-layout-auth') %}

{% set formErrors = _view.form.vars.errors %}
{% set emailErrors = _view.form.email.vars.errors %}
{% set hasError = (formErrors | length > 0) or (emailErrors | length > 0) %}

{% block content %}
    {% embed molecule('auth-layout', 'CustomerPage') with {
        data: {
            heading: 'customer.forgotten-password.title' | trans,
            subtitle: 'customer.forgotten-password.description' | trans,
        },
        hasError: hasError,
        formErrors: formErrors,
        emailErrors: emailErrors,
    } only %}
        {% block card %}
            {{ form_start(_view.form, {
                attr: {
                    class: config.name ~ '__form',
                    novalidate: 'novalidate',
                },
            }) }}
                <div class="{{ config.name }}__fields">
                    <div class="{{ config.name }}__field">
                        <label for="{{ _view.form.email.vars.id }}" class="{{ config.name }}__label">
                            {{- 'customer.login.email' | trans -}}
                        </label>
                        {{ form_widget(_view.form.email, {
                            attr: {
                                autocomplete: 'email',
                                class: hasError ? 'input--error ' : '',
                            },
                        }) }}
                    </div>

                    {% if hasError %}
                        {% set errorText %}
                            {%- for error in formErrors %}{{ error.message | trans }} {% endfor -%}
                            {%- for error in emailErrors %}{{ error.message | trans }} {% endfor -%}
                        {% endset %}
                        {% include molecule('flash-message') with {
                            modifiers: ['alert', 'notification'],
                            data: {
                                isStatic: true,
                                text: errorText | trim,
                            },
                        } only %}
                    {% endif %}
                </div>

                <button
                    type="submit"
                    class="button {{ config.name }}__submit"
                    data-init-single-click
                    {{ qa('submit-button') }}
                >
                    {{- 'customer.forgotten-password.submit' | trans -}}
                </button>

                <a href="{{ url('login') }}" class="{{ config.name }}__back" {{ qa('cancel-button') }}>
                    {{- 'customer.forgotten-password.back_to_login' | trans -}}
                </a>

                {{ form_end(_view.form) }}
        {% endblock %}
    {% endembed %}
{% endblock %}
