{% extends template('page-layout-auth') %}

{% block content %}
    {% embed molecule('auth-layout', 'CustomerPage') with {
        data: {
            heading: 'customer.forgotten-password.title' | trans,
            subtitle: 'customer.forgotten-password.description' | trans,
        },
    } only %}
        {% block card %}
            {{ form_start(_view.form, {
                attr: {
                    class: config.name ~ '__form',
                    novalidate: 'novalidate',
                },
            }) }}
                {{ form_errors(_view.form) }}

                <div class="{{ config.name }}__fields">
                    <div class="{{ config.name }}__field">
                        <label for="{{ _view.form.email.vars.id }}" class="{{ config.name }}__label">
                            {{- 'customer.login.email' | trans -}}
                        </label>
                        {{ form_widget(_view.form.email, {
                            attr: {
                                autocomplete: 'email',
                            },
                        }) }}
                        {{ form_errors(_view.form.email) }}
                    </div>
                </div>

                <button
                    type="submit"
                    class="button {{ config.name }}__submit"
                    data-init-single-click
                    {{ qa('submit-button') }}
                >
                    {{- 'customer.forgotten-password.submit' | trans -}}
                </button>

                <a href="{{ url('login') }}" class="{{ config.name }}__back">
                    {{- 'customer.forgotten-password.back_to_login' | trans -}}
                </a>

                {{ form_end(_view.form) }}
        {% endblock %}
    {% endembed %}
{% endblock %}
