{% extends model('component') %}

{% define config = {
    name: 'sold-by',
} %}

{% define data = {
    merchantName: required,
    merchantUrl: null,
    merchantReference: null,
    hasMultipleOffers: false,
    compareTriggerClass: '',
} %}

{% block body %}
    {% block name %}
        <span class="{{ config.name }}__name">{{ data.merchantName }}</span>
    {% endblock %}

    <div class="{{ config.name }}__links">
        {% block merchantLink %}
            {% if data.merchantUrl %}
                <a class="{{ config.name }}__link" href="{{ functionExists('generatePath') ? generatePath(data.merchantUrl) : data.merchantUrl }}">
                    {{ 'buy_box.view_merchant' | trans }}
                </a>
            {% endif %}
        {% endblock %}

        {% block merchantRelationRequestCreateButton %}
            {% if data.merchantReference is not null %}
                {% widget 'MerchantRelationRequestCreateLinkWidget' args [data.merchantReference] only %}{% endwidget %}
            {% endif %}
        {% endblock %}

        {% block compare %}
            {% if data.hasMultipleOffers %}
                <button type="button" class="{{ config.name }}__change {{ data.compareTriggerClass }}" {{ qa('compare-sellers-trigger') }}>
                    {{ 'merchant_product_offer.change' | trans }}
                </button>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
