{% extends molecule('breadcrumb-step', '@SprykerShop:ShopUi') %}

{% define data = {
    stepNumber: null,
    url: null,
    label: null,
    itemProp: null,
    iconName: null,
    iconModifiers: [],
    isCurrent: false,
    separator: null,
    withChevron: true,
    form: null,
    formName: '',
    tokenFieldName: '',
} %}

{% set isFormElement = data.form is not empty or data.formName is not empty %}
{% set isLink = data.url is not empty and not isFormElement and not data.isCurrent %}

{% block label %}
    {%- if data.iconName -%}
        {% include atom('font-icon') with {
            modifiers: data.iconModifiers,
            class: config.name ~ '__icon',
            data: {
                name: data.iconName,
            },
        } only %}
    {%- endif -%}
    <span class="{{ config.name ~ '__label' }}">
        {%- if data.itemProp -%}
            <span itemprop="{{- data.itemProp -}}">{{- data.label -}}</span>
        {%- else -%}
            {{- data.label -}}
        {%- endif -%}
    </span>
{% endblock %}

{% block body %}
    {% if data.stepNumber is not empty %}
        <span class="{{ config.name ~ '__number' }}">{{ data.stepNumber }}</span>
    {% endif %}

    {%- if isLink -%}
        <a class="{{ config.name ~ '__link' }}" href="{{ data.url }}">{{ block('label') }}</a>
    {%- endif -%}

    {%- if isFormElement -%}
        {% block form %}
            <form class="{{ config.name }}__form" name="{{ data.formName }}" method="post" action="{{ data.url }}">
                <input name="{{ data.tokenFieldName }}" type="hidden" value="{{ csrf_token(data.formName) }}">
                <button class="{{ config.name ~ '__link' }}">{{ block('label') }}</button>
            </form>
        {% endblock %}
    {%- endif -%}

    {% if not isLink and not isFormElement %}{{ block('label') }}{% endif %}

    {%- if data.separator and not data.isCurrent -%}
        {%- if data.separator == 'chevron' -%}
            {% include atom('font-icon') with {
                modifiers: ['size-inherit'],
                class: config.name ~ '__separator ' ~ config.name ~ '__separator--chevron',
                attributes: { 'aria-hidden': 'true' },
                data: {
                    name: 'chevron_right',
                },
            } only %}
        {%- else -%}
            <span class="{{ config.name ~ '__separator' ~ ' ' ~ config.name ~ '__separator--slash' }}" aria-hidden="true">/</span>
        {%- endif -%}
    {%- elseif data.withChevron -%}
        <span class="{{ config.name ~ '__separator' }}">/</span>
    {%- endif -%}
{% endblock %}
