{% extends molecule('schedule-detail', '@SprykerFeature:OrderExperienceManagement') %}

{% block extraClass %}{% endblock %}

{% set skipModalTriggerClassName = 'js-skip-schedule-button' %}
{% set cancelModalTriggerClassName = 'js-cancel-schedule-button' %}
{% set pauseModalTriggerClassName = 'js-pause-schedule-button' %}
{% set resumeModalTriggerClassName = 'js-resume-schedule-button' %}

{% block actionMenu %}
    <div class="{{ config.name }}__menu">
        <button
            type="button"
            class="{{ config.name }}__menu-trigger button button--hollow button--icon-only"
            popovertarget="{{ data.schedule.uuid }}"
            style="anchor-name: --{{ data.schedule.uuid }}"
            aria-label="{{ 'Comment actions' | trans }}"
        >
            {% include atom('font-icon') with {
                modifiers: ['size-inherit'],
                data: { name: 'more_vert' },
            } only %}
        </button>
        <div
            id="{{ data.schedule.uuid }}"
            popover="auto"
            class="{{ config.name }}__menu-list"
            style="position-anchor: --{{ data.schedule.uuid }}"
        >
            {{ block('scheduleCancelButton') }}
        </div>
    </div>
{% endblock %}

{% block recurringScheduleHeader %}
    {% set status = data.schedule.status %}
    {% set schedulePauseButtonClassName = 'button button--hollow spacing-left' %}
    {% set scheduleResumeButtonClassName = 'button spacing-left' %}
    {% set scheduleCancelButtonClassName = config.name ~ "__menu-item" %}

    {% include molecule('action-bar') with {
        data: {
            title: data.schedule.name,
            actions: [
                { block: block('schedulePauseForm') },
                { block: block('scheduleResumeForm') },
                { block: block('actionMenu') }
            ],
        },
    } only %}
{% endblock %}

{% block grid %}
    <div class="grid grid--gap">
        <div class="col col--sm-12 col--lg-8 spacing-bottom">
            <div class="{{ config.name }}__order-info">
                {% include molecule('schedule-next-execution', 'OrderExperienceManagement') with {
                    data: {
                        schedule: data.schedule,
                        skipUrl: url('recurring-order/skip', {uuid: data.schedule.uuid}),
                        statusActive: data.statusActive,
                        statusPaused: data.statusPaused,
                        statusReviewRequired: data.statusReviewRequired,
                        skipModalTriggerClassName: skipModalTriggerClassName,
                        resumeModalTriggerClassName: resumeModalTriggerClassName,
                    },
                } only %}

                {% include molecule('recurring-order-items', 'OrderExperienceManagement') with {
                    data: {
                        schedule: data.schedule,
                    }
                } only %}
            </div>
            
        </div>

        <div class="col col--sm-12 col--lg-4 spacing-bottom">
            {% include molecule('schedule-detail-sidebar', 'OrderExperienceManagement') with {
                data: {
                    schedule: data.schedule,
                    statusClassMap: data.statusClassMap,
                    quote: data.quote,
                },
            } only %}
        </div>
    </div>
{% endblock %}
