{% extends model('component') %}

{% define config = {
    name: 'footer',
    tag: 'footer'
} %}

{% block body %}
    {% block logos %}
        <div class="{{ config.name }}__logos">
            <div class="container">
                {% block logosInner %}{% endblock %}
            </div>
        </div>
    {% endblock %}

    {% block subscribe %}
        <div class="{{ config.name }}__subscribe">
            <div class="container">
                {{ render(path('newsletter/subscribe')) }}
            </div>
        </div>
    {% endblock %}

    {% block navigation %}
        <div class="{{ config.name }}__navigation">
            <div class="container">
                <div class="grid grid--gap">
                    <div class="col col--sm-12 col--lg-3 {{ config.name }}__contact-info">
                        <div class="{{ config.name }}__contact-logo">
                            {% include molecule('logo') with {
                                class: config.name ~ '__logo',
                                modifiers: ['main'],
                                data: {
                                    url:  'global.build_with.link' | trans,
                                    externalUrl: true,
                                    configurable: false,
                                }
                            } only %}

                            <p class="{{ config.name }}__contact-tagline">{{ 'global.tagline' | trans }}</p>
                            <div class="{{ config.name }}__contact-divider"></div>
                        </div>

                        {% set emailTranslation = 'global.email.text' | trans %}

                        <a class="{{ config.name }}__contact-info-item" href="mailto:{{ emailTranslation }}">
                            {% include atom('font-icon') with {
                                data: { name: 'email' },
                            } only %}
                            {{ emailTranslation }}
                        </a>

                        {% set phoneNumberTranslation = 'global.phone.number' | trans %}

                        <a class="{{ config.name }}__contact-info-item" href="tel:{{ phoneNumberTranslation }}">
                            {% include atom('font-icon') with {
                                data: { name: 'call' },
                            } only %}
                            {{ phoneNumberTranslation }}
                        </a>
                    </div>

                    <div class="col col--sm-12 col--lg-9 {{ config.name }}__navigation-item">
                        {% block navigationInner %}
                            {% include molecule('navigation-footer') with {
                                class: 'grid grid--gap',
                                data: {
                                    items: [
                                        {
                                            category: 'FOOTER_NAVIGATION_TOP_CATEGORIES',
                                            title: 'global.top_categories' | trans,
                                        },
                                        {
                                            category: 'FOOTER_NAVIGATION_POPULAR_BRANDS',
                                            title: 'global.popular_brands' | trans,
                                        },
                                        {
                                            category: 'FOOTER_NAVIGATION',
                                            title: 'global.about' | trans,
                                        },
                                    ],
                                },
                            } only %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block copyright %}
        <div class="{{ config.name }}__copyright">
            <div class="container {{ config.name }}__copyright-inner">
                {% include molecule('privacy-navigation') only %}

                {% block socialLinks %}
                    {% include molecule('navigation-footer-item') with {
                        modifiers: ['social'],
                        data: {
                            category: 'SOCIAL_LINKS',
                            template: 'navigation-social',
                        },
                    } only %}
                {% endblock %}
            </div>
        </div>
    {% endblock %}
{% endblock %}
