{% extends model('component') %}

{% define config = {
    name: 'footer',
    tag: 'footer'
} %}

{% block body %}
    {% block logos %}
        <div class="{{ config.name }}__logos">
            {% block logosInner %}
                {% set categoryPaymentProviders = 'PAYMENT_PROVIDERS' %}

                {% include molecule('navigation-footer-item') with {
                    modifiers: ['footer-logo'],
                    class: 'container',
                    data: {
                        title: 'global.payment_shipping' | trans,
                        category: categoryPaymentProviders,
                        template: 'navigation-providers-payment',
                    },
                } only %}
            {% endblock %}
        </div>
    {% endblock %}

    {% block subscribe %}
        <div class="{{ config.name }}__subscribe">
            <div class="container">
                {{ render(path('newsletter/subscribe')) }}
            </div>
        </div>
    {% endblock %}

    <span class="{{ config.name }}__text">{{ 'global.build_with' | trans }}</span>
    <a class="{{ config.name }}__link" href="{{ 'global.build_with.link' | trans }}" target="_blank">
        {% include atom('icon') with {
            modifiers: ['copyright'],
            data: {
                name: 'build-with-logo'
            }
        } only %}
    </a>

    {% block navigation %}
        <div class="container">
            <div class="grid grid--gap {{ config.name }}__navigation">
                <div class="col col--sm-12 col--lg-9">
                    {% block navigationInner %}
                        {% include molecule('navigation-footer') with {
                            class: 'grid grid--gap',
                            data: {
                                items: [
                                    {
                                        category: 'FOOTER_NAVIGATION_TOP_CATEGORIES',
                                        title: 'global.top_categories' | trans,
                                    },
                                    {
                                        category: 'FOOTER_NAVIGATION_POPULAR_BRANDS',
                                        title: 'global.popular_brands' | trans,
                                    },
                                    {
                                        category: 'FOOTER_NAVIGATION',
                                        title: 'global.about' | trans,
                                    },
                                ],
                            },
                        } only %}
                    {% endblock %}
                </div>

                <div class="col col--sm-12 col--lg-3 {{ config.name }}__contact-info">
                    <div class="{{ config.name }}__contact-logo">
                        {% include atom('icon') with {
                            modifiers: ['logo'],
                            data: {
                                name: 'build-with-logo',
                            },
                        } only %}
                        <p class="{{ config.name }}__contact-tagline">{{ 'global.tagline' | trans }}</p>
                        <div class="{{ config.name }}__contact-divider"></div>
                    </div>

                    <span class="{{ config.name }}__contact-info-item">
                        {% include atom('font-icon') with {
                            data: { name: 'location_on' },
                        } only %}
                        {{ 'global.address.text' | trans }}
                    </span>

                    {% set emailTranslation = 'global.email.text' | trans %}

                    <a class="{{ config.name }}__contact-info-item" href="mailto:{{ emailTranslation }}">
                        {% include atom('font-icon') with {
                            data: { name: 'email' },
                        } only %}
                        {{ emailTranslation }}
                    </a>

                    {% set phoneNumberTranslation = 'global.phone.number' | trans %}

                    <a class="{{ config.name }}__contact-info-item" href="tel:{{ phoneNumberTranslation }}">
                        {% include atom('font-icon') with {
                            data: { name: 'call' },
                        } only %}
                        {{ phoneNumberTranslation }}
                    </a>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block copyright %}
        <div class="{{ config.name }}__copyright">
            {% include molecule('copyright-build-with') with {
                class: 'container',
                data: {
                    socials: block('socialLinks')
                }
            } only %}
        </div>
    {% endblock %}
{% endblock %}

{% block socialLinks %}
    {% include molecule('navigation-footer-item') with {
        modifiers: ['social'],
        data: {
            category: 'SOCIAL_LINKS',
            template: 'navigation-social',
        },
    } only %}
{% endblock %}
