{% extends molecule('quick-order-row-partial', '@SprykerShop:QuickOrderPage') %}

{% block body %}
    <div class="grid grid--justify grid--middle">{{ parent() }}</div>
{% endblock %}

{% block columns %}
    {% set quantityColumnClass = additionalColumns ? (additionalColumns | length > 1 ? 'col--lg-3' : 'col--lg-4') : 'col--lg-5' %}
    {% set priceColumnClass = additionalColumns ? 'col--lg-3' : 'col--lg-4' %}

    {{ block('additionalColumns') }}
    {{ block('quantity') }}
    {{ block('price') }}
{% endblock %}

{% block additionalColumns %}
    {% if additionalColumns and additionalColumns | length == 1 %}
        <div class="col col--sm-12 col--lg-3 spacing-x spacing-x--inner">
            {{ block('additionalColumn') }}
        </div>
    {% elseif additionalColumns and additionalColumns | length > 1 %}
        {% for key, additionalColumn in additionalColumns %}
            {% if key is odd %}
                <div class="col col--sm-12 col--lg-2 spacing-x spacing-x--inner">
                    {{ block('oddAdditionalColumn') }}
                </div>
            {% elseif key is even %}
                <div class="col col--sm-12 col--lg-4 spacing-x spacing-x--inner">
                    {{ block('evenAdditionalColumn') }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block additionalColumn %}
    {% if product and product.columns[additionalColumns[0].dataPath] is defined %}
        <span class="is-hidden-lg-xxl">{{ additionalColumns[0].title | trans }}: </span>
        {{ product.columns[additionalColumns[0].dataPath] | trans }}
    {% endif %}
{% endblock %}

{% block oddAdditionalColumn %}
    {% if product and product.columns[additionalColumn.dataPath] is defined %}
        <span class="is-hidden-lg-xxl">{{ additionalColumn.title | trans }}: </span>
        {{ product.columns[additionalColumn.dataPath] | trans }}
    {% endif %}

    {% if data.form.children[additionalColumn.dataPath] is defined %}
        {% set customFieldName = data.customFieldNamePattern | replace({'%name%': data.form.children[additionalColumn.dataPath].vars.name}) %}

        {# Don't replace class name with config.jsName, it's used also for `quick-order-row` component #}
        {{ form_widget(data.form.children[additionalColumn.dataPath], {
            full_name: customFieldName,
            id: customFieldName,
            attr: {
                class: 'js-quick-order-row-partial__additional-form-element',
            },
        }) }}

        {% do data.form.children[additionalColumn.dataPath].setRendered %}
    {% endif %}
{% endblock %}

{% block quantity %}
    <div class="col col--sm-6 {{ priceColumnClass }} spacing-y spacing-x spacing-x--inner">
        <div class="{{ config.name }}__holder-quantity">
            {% set options = {
                required: true,
                label: false,
                watchExternalChanges: true,
                componentClass: config.jsName ~ '__formatted',
                hiddenInputClass: config.jsName ~ '__hidden-input',
                attr: {
                    class: config.name ~ '__quantity-input ' ~ config.jsName ~ '__quantity-input',
                    min: 1,
                    max: null,
                    step: 1,
                    disabled: product is empty,
                    value: product is empty ? null : data.quantityField.vars.value,
                },
            } %}

            {% if data.customQuantityFieldName %}
                {% set options = options | merge({ full_name: data.customQuantityFieldName }) %}
            {% endif %}

            <button class="{{ config.name }}__button
                    {% if data.product is empty %}
                        {{ config.name }}__button--disabled
                    {% endif %}
                    {{ config.jsName }}__button-decrement
                    {{ config.name }}__button--decrement">-</button>

            {{ form_widget(data.quantityField, options) }}

            <button class="{{ config.name }}__button
                    {% if data.product is empty %}
                       {{ config.name }}__button--disabled
                    {% endif %}
                    {{ config.jsName }}__button-increment
                    {{ config.name }}__button--increment">+</button>
        </div>
    </div>
{% endblock %}

{% block price %}
    <div class="col col--sm-6 {{ quantityColumnClass }} col--middle spacing-y spacing-x spacing-x--inner">
        {{ block('priceInner') }}
    </div>
{% endblock %}

{% block messages %}
    {% if data.messages is not empty %}
        <div class="col col--sm-12 spacing-bottom">
            {% for message in data.messages %}
                <div class="{{ config.name }}__message {{ config.name }}__message--{{ message.type }} spacing-top">
                    {{ message.value | trans(message.parameters) }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
