{% extends view('merchant-relation-request-create', 'SprykerShop:MerchantRelationRequestPage') %}

{% block companyContent %}
    {{ block('formStart') }}
    {{ block('merchant') }}
    {{ block('companyDetails') }}
    {{ block('contactDetails') }}
    {{ block('additionalDetails') }}

    {% block actions %}
        <div class="grid grid--justify">
            <div class="col">
                <a href="{{ url('company/merchant-relation-request') }}" class="button button--secondary button--hollow">
                    {% include atom('icon') with {
                        modifiers: ['small'],
                        data: {
                            name: 'chevron-left'
                        }
                    } only %}
                    {{ 'merchant_relation_request_page.merchant_relation_request.actions.back' | trans }}
                </a>
            </div>

            <div class="col">
                <button type="submit" class="button button--success" data-init-single-click>
                    {{ 'merchant_relation_request_page.merchant_relation_request.actions.send_request' | trans }}
                </button>
            </div>
        </div>
    {% endblock %}

    {{ block('formEnd') }}
{% endblock %}
