{% extends molecule('banner', '@SprykerShop:ShopUi') %}
{% import _self as component %}

{% define config = {
    name: 'banner',
    tag: 'article',
} %}

{% define data = {
    imageUrl: '',
    imageAlt: '',
    content: '',
    clickUrl: '',
    buttonTitle: '',
} %}

{% block body %}
    {% if data.imageUrl %}
        {% include molecule('lazy-image') with {
            class: component.renderClass(config.name ~ '__image-wrapper', modifiers),
            data: {
                imageSrc: data.imageUrl,
                imageTitle: data.imageAlt,
                isBackground: true,
            },
        } only %}
    {% endif %}

    <div class="{{ component.renderClass(config.name ~ '__body', modifiers) }}">
        {% if data.content %}
            <div class="{{ component.renderClass(config.name ~ '__content', modifiers) }}">
                {{ data.content | raw }}
            </div>
        {% endif %}

        {% if data.clickUrl %}
            <a
                href="{{ functionExists('generatePath') ? generatePath(data.clickUrl) : data.clickUrl }}"
                class="{{ component.renderClass(config.name ~ '__cta', modifiers) }} button {% if 'small' in modifiers or 'medium' in modifiers %}button--sm{% endif %}"
            >
                {{ (data.buttonTitle ?: 'show_more.btn.title') | trans }}

                {% include atom('font-icon') with {
                    data: { name: 'arrow_forward' },
                } only %}
            </a>
        {% endif %}
    </div>
{% endblock %}
